<!DOCTYPE html>
<html>
<head>
    <title>People List</title>
</head>
<body>
    <h1>Characters and their Homeworld. Ex09orm</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Homeworld</th>
            <th>Climate</th>
        </tr>
        {% for person in people %}
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.homeworld.name }}</td>
            <td>{{ person.homeworld.climate }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
